<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fun.com.example.lenovo.recycle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- <service android:name="com.paypal.android.sdk.payments.PayPalService"android:exported="false" /> -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_add_shopping_cart"
        android:label="ShopMe"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity
            android:name="fun.com.example.lenovo.compare.compareActivity"
            android:label="Compare Here!" />
        <activity
            android:name="fun.com.example.lenovo.home.HomePage"
            android:label="ShopMe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="fun.com.example.lenovo.profile.ScrollingActivity" />
        <activity android:name="fun.com.example.lenovo.profile.edit" />
        <activity android:name="fun.com.example.lenovo.profile.order1" />
        <activity android:name="fun.com.example.lenovo.profile.about" />
        <activity android:name="fun.com.example.lenovo.profile.upload1" />

        <service android:name="fun.com.example.lenovo.home.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="fun.com.example.lenovo.home.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="fun.com.example.lenovo.home.HandleHistory" />
        <activity android:name="fun.com.example.lenovo.home.Mi_Mobile" />
        <activity android:name="fun.com.example.lenovo.home.Mobile" />
        <activity android:name="fun.com.example.lenovo.home.Notification">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </activity>
        <activity android:name="fun.com.example.lenovo.home.UserProfile" />
        <activity
            android:name="fun.com.example.lenovo.cart.cardActivity"
            android:label="My Cart">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity android:name="fun.com.example.lenovo.cart.ConfirmActivity" />
        <activity android:name="fun.com.example.lenovo.cart.Confirm2Activity" />
        <activity android:name=".RegisterActivity"></activity>
    </application>

</manifest>